@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.background {
    background-color: black;
}

.main-heading {
    padding: 20px;
    font-family: "Roboto";
    color: white;
    text-decoration: underline;
}

.padding {
    padding: 30px;
}

.heading-card {
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.para {
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;


}

.border {
    border-style: groove;
}